<% provide(:title, "liga") %>
<h1>
  <ul>
    <li><%= @user.first_name %></li>
    <li><%= @user.second_name %></li>
    <li><%= @user.patronymic %></li>
    <li><%= @user.email %></li>
    <li><%= @user.birthday %></li>
  </ul>
</h1>