<% provide(:title, "Liga") %>
<h1>
  <ul>
    <li><%= @user.second_name %> <%= @user.first_name %> <%= @user.patronymic %></li>
    <li><%= @user.email %></li>
    <li><%= @user.birthday %></li>
  </ul>
</h1>