<header class="top">
  <div class="icon">
    <%= link_to "Liga", root_path %>
  </div>
  <div class="top-log-in">
    <% if logged_in? %>
      <ul class="account-button">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Аккаунт
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Профиль", current_user %></li>
            <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
            <li><%= link_to "Выйти", logout_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    <% else %>
      <div><%= link_to "Регистрация", signup_path %></div>
      <div>или</div>
      <div><%= link_to "Войти в личный кабинет", login_path %></div>
    <% end %>
  </div>
</header>