<header class="top">
  <div class="icon">
    <%= link_to "Beliga", root_path %>
  </div>
  <div class="top-log-in">
    <% if logged_in? %>
      <div><%= link_to "Аккаунт", current_user %></div>
      <div><%= link_to "Выйти", logout_path, method: :delete %></div>
    <% else %>
      <div><%= link_to "Регистрация", signup_path %></div>
      <div>или</div>
      <div><%= link_to "Войти в личный кабинет", login_path %></div>
    <% end %>
  </div>
</header>